[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.doccache
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.doccache
*.pfx
*.publishsettings
node_modules/
wwwroot/lib/*
!wwwroot/lib/.gitkeep
